# Tashkent Accessibility Analysis with Floods

- This analysis will measure accessibility to schools and hospitals
- origins are derived from 250m grid blocks coming from GHSL POP
- the accessibility measure is the time to the nearest facility in seconds

## Inputs:

#### origins: derived from a GHSL POP raster (WorldPop did not visually seem as accurate) manually using the 'Raster pixels to Points' tool in QGIS 3, and saved as a shapefile
#### destinations: The combination of POIs from Overpass as points and centroids of polygons called through the GOSTNets OSMNX_POIs library.
#### The admin AOI will be used to create a bounding box to download the road network via OSMNX

### Import libraries

In [243]:
import sys, os, inspect, logging, importlib

import geopandas as gpd
import pandas as pd
import numpy as np
import osmnx as ox
import networkx as nx
from shapely.ops import split, unary_union
from shapely.geometry import box, Point

import matplotlib.pyplot as plt

In [244]:
# Get reference to OSMNX_POIs
sys.path.append(r'../..')
from Market_Access import OSMNX_POIs

In [245]:
# Get reference to GOSTNets
sys.path.append(r'../../GOSTNets/GOSTNets')
import GOSTnet as gn

In [246]:
# define output folder
inputFolder = r'input_folder'
# define output folder
outputFolder = r'../../../tashkent_output_folder'
# define road graph
roadGraph = os.path.join(inputFolder, "OSM_Roads.pickle")

In [247]:
# import extent
city_extent = gpd.read_file(os.path.join(inputFolder, "Tashkent_AOI.shp"))

In [248]:
# make sure crs is 4326
print(city_extent.crs)

{'init': 'epsg:4326'}

In [249]:
extent = box(*city_extent.total_bounds)

In [250]:
extent

## We will extract OSM POIs

In [251]:
educational_query = OSMNX_POIs.AmenityObject('Education', extent, ['school', 'kindergarten','university', 'college'], inputFolder)

In [252]:
educational_query

In [253]:
destinations = educational_query.GenerateOSMPOIs()

## We will extract the Roads and convert into a graph, and calculate edge times

In [254]:
# This is the section where we can adjust the road speeds
if not os.path.exists(roadGraph):
    extent = box(*city_extent.total_bounds)
    G = ox.graph_from_polygon(extent, network_type = 'drive_service')
    # This is how time is calculated from the OSMNX length attribute
    G = gn.convert_network_to_time(G, 'length')
    # save the largerst subgraph
    list_of_Gs = list((nx.strongly_connected_component_subgraphs(G)))
    sz = 0
    largest_G = list_of_Gs[0]
    for g in list_of_Gs:
        curSize = g.size()
        if curSize > sz:
            largest_G = g
            sz = curSize
    G = largest_G
    print('print G')
    print(sz)
    nx.write_gpickle(G, roadGraph)
else:
    G = nx.read_gpickle(roadGraph)    
    G = gn.convert_network_to_time(G, 'length')

print G
108421

### Inspect the road graph as a shapefile

In [255]:
roads = gn.edge_gdf_from_graph(G)

In [256]:
roads[:2]

,stnode,endnode,length,time,maxspeed,lanes,access,ref,mode,name,oneway,bridge,service,width,junction,osmid,tunnel,highway,landuse,geometry
0,5814616064,5814616062,69.206,12.45708,NaN,NaN,NaN,NaN,drive,NaN,False,NaN,NaN,NaN,NaN,614769586,NaN,service,NaN,"LINESTRING (69.29000689999999 41.3094792, 69.2..."
1,5814616064,5957852995,25.864,4.65552,NaN,NaN,NaN,NaN,drive,NaN,False,NaN,NaN,NaN,NaN,614769586,NaN,service,NaN,"LINESTRING (69.29000689999999 41.3094792, 69.2..."

In [257]:
if not os.path.exists(outputFolder + '/OSM_Roads/OSM_Roads.shp'):
    roads['oneway'] = roads.oneway.astype(int)
    roads = roads[['oneway','length','time','mode','geometry']]
    roads.to_file(outputFolder + '/OSM_Roads')

# 1st Analysis: Non-flooded scenario

## Create origins and destinations and snap them to the road graph

In [258]:
# insert origins
origins = gpd.read_file(os.path.join(inputFolder, "tashkent_ghsl2015_pop_250m_pts.shp"))

In [259]:
# snap the origins to the road graph
snapped_origins = gn.pandana_snap(G, origins)

In [260]:
# snap the destinations to the road graph
snapped_destinations = gn.pandana_snap(G, destinations)

In [261]:
originNodes = list(snapped_origins['NN'].unique())

In [262]:
destinationNodes = list(snapped_destinations['NN'].unique())

In [263]:
# calculate OD matrix
OD_matrix = gn.calculate_OD(G, originNodes, destinationNodes, fail_value=-1, weight='time')

In [264]:
#OD_matrix[:3]

In [265]:
closest_facility_per_origin = OD_matrix.min(axis=1)

In [266]:
closest_facility_per_origin[:5]

array([343.20726, 289.75608, 604.38702, 158.40228, 135.20532])

In [267]:
# calculate accessibility
# For each row, the closest facility is the smallest value in the row

output = snapped_origins.copy()

closest_facility_per_origin = OD_matrix.min(axis=1)

results = pd.DataFrame([originNodes, closest_facility_per_origin]).transpose()
colName = "travel_time_to_closest_facility"
results.columns = ['NN', colName]

In [268]:
results[:5]

             NN  travel_time_to_closest_facility
0  4.202418e+09                        343.20726
1  2.080926e+09                        289.75608
2  4.709277e+09                        604.38702
3  4.202528e+09                        158.40228
4  4.202528e+09                        135.20532

In [269]:
output = pd.merge(output, results, on="NN")

In [270]:
# Save baseline results
output.to_csv(os.path.join(outputFolder, "tashkent_accessibility_schools.csv"))

# 2nd Analysis: Flooded scenario

In [271]:
# import ssbn flood raster
# The raster is a combined fluvial and pluvial flood raster where the pixel values represent the number of years in which a flood is projected to occur
importlib.reload(gn)
tif_path = r'/home/public/Data/COUNTRY/UZB/uzbekistan/CombinedFloodData/FU_PU_2_Combined.tif'
if not os.path.exists(tif_path):
    print('{} not found'.format(tif_path))
    sys.exit()

In [272]:
G = gn.sample_raster(G, tif_path, property_name = 'x_year_flood')

In [273]:
gn.example_node(G, 2)

(5814616064, {'y': 41.3094792, 'x': 69.2900069, 'osmid': 5814616064, 'x_year_flood': 0})
(1913651200, {'y': 41.2796871, 'x': 69.2610066, 'osmid': 1913651200, 'x_year_flood': 10})

### do some checks

In [274]:
G_node_gdf = gn.node_gdf_from_graph(G)
print('total number of nodes: %d' % len(G_node_gdf))

total number of nodes: 44122

In [275]:
print('number of nodes where flood depth positive: %d' % len(G_node_gdf.loc[G_node_gdf.x_year_flood >= 250]))

number of nodes where flood depth positive: 4710

In [276]:
print('number of nodes where flood depth positive: %d' % len(G_node_gdf.loc[G_node_gdf.x_year_flood >= 500]))

number of nodes where flood depth positive: 3318

In [277]:
# In cases where some nodes don't intersect the raster, solve this by setting flood_depth = 0 where this is the case
i = 0
for u, data in G.nodes(data = True):
    if 'x_year_flood' not in data.keys():
        data['x_year_flood'] = 0
        i+=1
print(i)

0

## disrupt the network

In [278]:
cutoff_point_to_be_flooded = 249
fail_value = 999999999999999
G_flood = gn.disrupt_network(G, 'x_year_flood', cutoff_point_to_be_flooded, fail_value)

nodes disrupted: 4710
edges disrupted: 16964

In [279]:
#gn.example_node(G_flood, 2)

In [280]:
#gn.example_edge(G_flood, 2)

### Inaccessible population areas and inaccessible schools due to flooding should be removed from the inputs.

In [281]:
import rasterio 

# Open the raster and store metadata
src = rasterio.open(tif_path)

In [282]:
len(origins)

9840

In [283]:
origins_coords = [(x,y) for x, y in zip(origins.geometry.x, origins.geometry.y)]

In [284]:
# Sample the raster at every point location and store values in DataFrame
origins['raster_value'] = [x for x in src.sample(origins_coords)]

In [285]:
#origins[:15]

In [286]:
non_flooded_origins = origins[origins.raster_value < 250]

In [287]:
len(non_flooded_origins)

8743

In [288]:
# convert destinations pandas to a geopandas dataframe
destinations_gpd = gpd.GeoDataFrame(destinations, crs = "epsg:4326", geometry = 'geometry')

In [289]:
len(destinations)

1474

In [290]:
destinations_coords = [(x,y) for x, y in zip(destinations_gpd.geometry.x, destinations_gpd.geometry.y)]

In [291]:
destinations['raster_value'] = [x for x in src.sample(destinations_coords)]

In [292]:
#destinations[:10]

In [293]:
non_flooded_destinations = destinations[destinations.raster_value < 250]

In [294]:
len(non_flooded_destinations)

1331

### snap the non-flooded origin and destination points to the disrupted flooded network

In [295]:
# snap the origins to the road graph
non_flooded_snapped_origins = gn.pandana_snap(G_flood, non_flooded_origins)

In [296]:
non_flooded_originNodes = list(non_flooded_snapped_origins['NN'].unique())

In [297]:
non_flooded_snapped_destinations = gn.pandana_snap(G_flood, non_flooded_destinations)

In [298]:
non_flooded_destinationsNodes = list(non_flooded_snapped_destinations['NN'].unique())

## calculate OD matrix on flooded network

In [299]:
flooded_OD_matrix = gn.calculate_OD(G_flood, non_flooded_originNodes, non_flooded_destinationsNodes, fail_value, weight='time')

In [300]:
# calculate accessibility
# For each row, the closest facility is the smallest value in the row

flooded_output = non_flooded_snapped_origins.copy()

closest_facility_per_origin = flooded_OD_matrix.min(axis=1)

results = pd.DataFrame([non_flooded_originNodes, closest_facility_per_origin]).transpose()
colName = "travel_time_to_closest_facility"
results.columns = ['NN', colName]

In [301]:
flooded_output = pd.merge(flooded_output, results, on="NN")

In [302]:
outputFolder

'../../../tashkent_output_folder'

In [303]:
flooded_output.to_csv(os.path.join(outputFolder, "tashkent_accessibility_schools_w_flooding.csv"))

### number of inaccessible schools due to flooding

In [304]:
len(destinations) - len(non_flooded_destinations)

143

### number of inaccessible population pixels due to flooding

In [305]:
len(origins) - len(non_flooded_origins)

1097

In [306]:
# compare median travel times between the flooded and non-flooded scenarios?

In [307]:
output[:4]

,VALUE,geometry,NN,NN_dist,travel_time_to_closest_facility
0,44.999962,POINT (69.46213259147625 41.41965809229342),4202418387,0.000498,343.20726
1,44.999962,POINT (69.4640241963923 41.41965809229342),2080926193,0.000274,289.75608
2,33.067554,POINT (69.44889135706387 41.41398327754526),4709277426,0.008251,604.38702
3,33.067554,POINT (69.45078296197993 41.41398327754526),4202527651,0.009406,158.40228

In [308]:
len(output)

9840

In [309]:
output["travel_time_to_closest_facility"].mean()

122.28066346219512

In [310]:
output["travel_time_to_closest_facility"].median()

87.09863999999999

In [311]:
flooded_output[:4]

,VALUE,geometry,raster_value,NN,NN_dist,travel_time_to_closest_facility
0,44.999962,POINT (69.46213259147625 41.41965809229342),[0],4202418387,0.000498,343.20726
1,44.999962,POINT (69.4640241963923 41.41965809229342),[0],2080926193,0.000274,289.75608
2,33.067554,POINT (69.44889135706387 41.41398327754526),[0],4709277426,0.008251,615.39606
3,33.067554,POINT (69.45078296197993 41.41398327754526),[0],4202527651,0.009406,158.40228

In [312]:
len(flooded_output)

8743

In [313]:
# the mean is probably high because there are probably some non-flooded origin points that are only connected to the disrupted part of the network
flooded_output["travel_time_to_closest_facility"].mean()

258835639940669.22

In [314]:
flooded_output["travel_time_to_closest_facility"].median()

102.60095999999999

### find number of disrupted trips

In [319]:
#flooded_output[flooded_output.travel_time_to_closest_facility > fail_value-1]

,VALUE,geometry,raster_value,NN,NN_dist,travel_time_to_closest_facility
47,107.072479,POINT (69.44510814723176 41.40263364804893),[0],1132474310,0.000970,1.000000e+15
62,66.207108,POINT (69.43754172756755 41.40074204313288),[75],1132474410,0.000962,1.000000e+15
69,203.287064,POINT (69.4394333324836 41.39885043821683),[0],613616548,0.001581,1.000000e+15
72,117.675507,POINT (69.44510814723176 41.39885043821683),[75],4709281236,0.000706,2.000000e+15
73,117.675507,POINT (69.44699975214782 41.39885043821683),[0],4709281234,0.001162,2.000000e+15
75,36.181694,POINT (69.23703160646585 41.39695883330077),[100],4362293848,0.000740,4.000000e+15
76,165.872864,POINT (69.24459802613006 41.39695883330077),[0],1636175477,0.000392,7.000000e+15
77,161.814377,POINT (69.24648963104612 41.39695883330077),[0],1636175483,0.001008,7.000000e+15
79,269.273590,POINT (69.25405605071033 41.39695883330077),[0],1636182166,0.000384,1.000000e+15
90,27.626490,POINT (69.23703160646585 41.39506722838472),[100],4362293844,0.001279,3.000000e+15
92,86.922699,POINT (69.24459802613006 41.39506722838472),[0],1217359490,0.000393,2.000000e+15
93,204.226227,POINT (69.24648963104612 41.39506722838472),[0],1217359517,0.000549,6.000000e+15
108,93.510139,POINT (69.23324839663374 41.39317562346866),[0],4231227060,0.000207,1.000000e+15
113,274.379425,POINT (69.24459802613006 41.39317562346866),[200],1217359428,0.000390,1.000000e+15
117,271.790527,POINT (69.25405605071033 41.39317562346866),[0],1217359569,0.000644,1.000000e+15
125,272.222504,POINT (69.22568197696953 41.39128401855261),[0],1217182996,0.000502,2.000000e+15
126,187.155106,POINT (69.22757358188558 41.39128401855261),[0],367918205,0.000665,2.000000e+15
148,240.637741,POINT (69.22379037205347 41.38939241363656),[200],4082332466,0.000098,2.000000e+15
173,66.767586,POINT (69.21811555730531 41.3875008087205),[100],3421192101,0.000659,2.000000e+15
175,224.022949,POINT (69.22189876713742 41.3875008087205),[100],1217182985,0.000373,1.000000e+15
176,281.750305,POINT (69.22379037205347 41.3875008087205),[0],1217182981,0.000977,1.000000e+15
178,282.062561,POINT (69.22757358188558 41.3875008087205),[0],1623398565,0.001382,1.000000e+15
198,220.626694,POINT (69.26729728512271 41.3875008087205),[0],4356832216,0.000931,1.000000e+15
199,220.626694,POINT (69.26918889003876 41.3875008087205),[0],4356832217,0.000684,1.000000e+15
205,217.945969,POINT (69.21622395238926 41.38560920380445),[0],3421192098,0.000710,2.000000e+15
215,35.954151,POINT (69.23703160646585 41.38560920380445),[0],1633635530,0.001748,2.000000e+15
216,235.836380,POINT (69.23703160646585 41.3837175988884),[0],1633635530,0.000607,2.000000e+15
263,187.086639,POINT (69.26918889003876 41.3837175988884),[100],1217387774,0.000717,1.000000e+15
266,267.169708,POINT (69.27486370478692 41.3837175988884),[0],1636270091,0.000803,1.000000e+15
267,264.386932,POINT (69.27675530970298 41.3837175988884),[0],1217387949,0.001000,1.000000e+15
...,...,...,...,...,...,...
8603,5108.762207,POINT (69.24459802613006 41.18888229253486),[0],4420114498,0.003335,2.000000e+15
8604,5080.753906,POINT (69.25027284087822 41.19077389745091),[0],1188856807,0.001518,1.000000e+15
8605,4757.452148,POINT (69.24838123596217 41.18888229253486),[0],1188856807,0.001814,1.000000e+15
8606,4757.452148,POINT (69.25027284087822 41.18888229253486),[0],1188856807,0.000396,1.000000e+15
8607,2211.417236,POINT (69.25216444579428 41.18888229253486),[5],1188856807,0.002044,1.000000e+15
8616,2953.197266,POINT (69.2105491376411 41.18888229253486),[0],2176765607,0.001239,3.000000e+15
8617,4816.524902,POINT (69.21244074255715 41.18888229253486),[0],6401615817,0.000736,1.000000e+15
8619,2789.132324,POINT (69.23514000154979 41.18888229253486),[0],2176765619,0.000847,2.000000e+15
8620,3088.124756,POINT (69.23703160646585 41.18888229253486),[100],2176765619,0.001086,2.000000e+15
8621,5108.762207,POINT (69.24081481629796 41.18888229253486),[0],1188853315,0.002248,1.000000e+15
8634,2214.847168,POINT (69.23514000154979 41.1869906876188),[0],1188854526,0.001828,2.000000e+15
8637,5108.762207,POINT (69.24081481629796 41.1869906876188),[0],4634046961,0.002498,2.000000e+15
8638,5108.762207,POINT (69.24081481629796 41.18509908270275),[0],4634046961,0.001289,2.000000e+15
8639,5005.211426,POINT (69.2389232113819 41.18320747778669),[0],4634046961,0.001745,2.000000e+15
8646,2392.270508,POINT (69.25027284087822 41.1869906876188),[50],4420217129,0.001843,1.000000e+15
8647,2392.270508,POINT (69.25216444579428 41.1869906876188),[0],4420217129,0.000458,1.000000e+15
8648,2917.447510,POINT (69.25027284087822 41.18509908270275),[0],4420217129,0.002299,1.000000e+15
8652,5108.762207,POINT (69.23703160646585 41.18509908270275),[20],4634046962,0.001307,1.000000e+15
8653,5108.762207,POINT (69.2389232113819 41.18509908270275),[0],4634046962,0.000652,1.000000e+15
8654,4975.648438,POINT (69.23703160646585 41.18320747778669),[100],4634046962,0.002093,1.000000e+15
8655,4961.020996,POINT (69.23703160646585 41.18131587287064),[0],4634046962,0.003769,1.000000e+15
8673,4961.020996,POINT (69.2389232113819 41.18131587287064),[0],4420205976,0.003233,2.000000e+15
8674,2154.936768,POINT (69.24081481629796 41.18131587287064),[200],4420205976,0.001688,2.000000e+15
8675,2154.936768,POINT (69.24270642121401 41.18131587287064),[0],4420205976,0.001551,2.000000e+15
8676,1642.601196,POINT (69.24459802613006 41.18131587287064),[200],4420205976,0.003020,2.000000e+15
8713,3931.842773,POINT (69.23514000154979 41.17753266303853),[0],1671600092,0.000826,1.000000e+15
8728,114.697571,POINT (69.25594765562639 41.17564105812248),[0],4420323713,0.000646,3.000000e+15
8730,2083.684082,POINT (69.23324839663374 41.17374945320643),[50],3184562842,0.001942,1.000000e+15
8741,1038.508545,POINT (69.24648963104612 41.17185784829037),[0],573243943,0.002330,1.000000e+15
8742,824.149475,POINT (69.25783926054244 41.17185784829037),[0],4420323709,0.001497,4.000000e+15