In [21]:
import sys, os, importlib, logging

import pandas as pd
import geopandas as gpd

from shapely.geometry import Point, LineString

In [7]:
in_nodes_file = r"S:\REGIONAL\ECA\Projects\Rail_Network_Mapping\data\rail_nodes.csv"
in_edges_file = r"S:\REGIONAL\ECA\Projects\Rail_Network_Mapping\data\edges.csv"

In [14]:
# Read in nodes and edges
inD = pd.read_csv(in_nodes_file)
inE = pd.read_csv(in_edges_file)
# Create point objects out of nodes
inD['geometry'] = [Point(x, y) for x, y in zip(inD['X'], inD['Y'])]

In [19]:
# Merge node points onto edges, once for source and once for target
inE_source = inE.merge(inD.loc[:,["node_id",'name','geometry']], 
          left_on="source", right_on="node_id")
inE_source = inE_source.merge(inD.loc[:,["node_id",'name','geometry']], 
          left_on="target", right_on="node_id")

In [25]:
inE_geom = [LineString([x,y]) for x,y in zip (inE_source['geometry_x'], inE_source['geometry_y'])]

In [31]:
inE_final = inE_source.loc[:,["source","target","link_id","length","time","name_x"]]
inE_final = gpd.GeoDataFrame(inE_final, geometry=inE_geom, crs={'init':'epsg:4326'})
inE_final.to_file(in_edges_file.replace(".csv", ".shp"))

In [32]:
inD

,node_id,name,country,border,gauge_change,if_border_is_an_origin_or_destination,Name,X,Y,geometry
0,1,Aktau,KAZ,False,False,False,Aktau,51.194236,43.650086,POINT (51.19423615 43.6500856)
1,2,Aktobe,KAZ,False,False,False,Aktobe,57.166930,50.283883,POINT (57.16692971 50.28388335)
2,3,Aktogal,KAZ,False,False,False,Aktogal,79.922600,46.851951,POINT (79.92260014999999 46.8519507)
3,4,Almaty,KAZ,False,False,False,Almaty,76.857735,43.229664,POINT (76.85773523 43.22966422)
4,5,Andijan,UBZ,True,False,False,Andijan,72.284590,40.814750,POINT (72.28458996000001 40.8147501)
...,...,...,...,...,...,...,...,...,...,...
78,75,Warsaw,POL,False,False,False,Warsaw,20.972655,52.178482,POINT (20.97265547 52.17848205)
79,87,Yaysan,KAZ,True,False,False,Yaysan,56.202620,50.846453,POINT (56.20262023 50.84645319)
80,76,Zahedin,IRA,False,False,False,Zahedin,60.880556,29.495681,POINT (60.88055637 29.49568135)
81,77,Zharyk,KAZ,False,False,False,Zharyk,72.834051,48.855976,POINT (72.83405148999999 48.85597607)
82,78,Zhezkagan,KAZ,False,False,False,Zhezkagan,67.702396,47.796415,POINT (67.70239591000001 47.79641488)